<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>This will be a signup page for new users.</p>
<%= link_to 'crud de pruebaa que funciona', tasks_path %>
<br>
<%= link_to 'Registrar un nuevo trabajador', workers_path %>
<br>
<%= link_to 'Reportar  horas', pps_path %>
<br>