<h1><center>Pagina principal de HL Construccion</center></h1>

<%= link_to "crud de prueba que funciona", "/tasks/index", method: :post %>
<%= link_to "Pagina principal", "http://localhost:3000",  method: :post %>