<title><%= full_title(yield(:title)) %></title>
<div class="center jumbotron">
<h1><center>Pagina principal de HL Construccion</center></h1>
<br>
<%= link_to 'crud de pruebaa que funciona', tasks_path %>
<br>
<%= link_to 'Registrar un nuevo trabajador', workers_path %>
<br>
<%= link_to 'Reportar  horas', pps_path %>
<br>
<a href="#" class="btn btn-lg btn-primary">Sign up now!</a>
</div>

