<h1> perrras </h1>
<ul>
<% @pipas.each do |pipa| %>
    <li><h4>nombre:<%= pipa.nombre %></h> </li>
    <li><h4>numero:<%= pipa.numero %></h> </li>
    <li><h4>Pepe:<%= pipa.pepe %></h> </li>
    <% end %>
</ul>